
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./style.css" media="all" />
  </head>
  <body>
    <header class="clearfix">
      <div id="logo">
      </div>
      <div id="company">
        <h2 class="name">Technologie Vimmit</h2>
        <div>841, Rue Cardinal, St-Eustache, J7R 6N6</div>
        <div>+1 (438) 830-4556</div>
        <div><a href="mailto:info@vimmit.com">info@vimmit.com</a></div>
      </div>
      </div>
    </header>
    <main>
      <h1>Packages conversion report</h1>
      <table border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th class="desc">Package</th>
            <th class="desc">FileName</th>
            <th class="desc">Source</th>
            <th>Integrity valid</th>
            <th>DTD valid</th>
            <th>Page Numbers valid</th>
            <th>Page count / splits </th>
            <th>Page sequences</th>
            <th>Page duplicated</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0001.xml</td>
              <td class="desc">6017_JCQ_07-F01_MJ1.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class="">20 - 0</td>
              <td class="">1,3,7,41</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0002.xml</td>
              <td class="desc">6017_JCQ_08-F02_MJ4.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">19 - 0</td>
              <td class="">1,37</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0003.xml</td>
              <td class="desc">6017_JCQ_09-F03_MJ8.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">23 - 0</td>
              <td class="">1,45</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0004.xml</td>
              <td class="desc">6017_JCQ_12-F04_MJ5.html</td>
              <td class="">false</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class="">7 - 0</td>
              <td class="">1,13</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0005.xml</td>
              <td class="desc">6017_JCQ_13-F05_MJ5.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">15 - 0</td>
              <td class="">1,29</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0006.xml</td>
              <td class="desc">6017_JCQ_14-F06.html</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">49 - 0</td>
              <td class="">1,97</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0007.xml</td>
              <td class="desc">6017_JCQ_15-F07_MJ1.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class="">25 - 0</td>
              <td class="">1,11,15,23,27,53</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0008.xml</td>
              <td class="desc">6017_JCQ_16-F08.html</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class="">15 - 0</td>
              <td class="">1,29</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0009.xml</td>
              <td class="desc">6017_JCQ_17-F09_MJ7.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">44 - 1</td>
              <td class="">1,41,79,123</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0010.xml</td>
              <td class="desc">6017_JCQ_18-F10_MJ6.html</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">15 - 0</td>
              <td class="">1,29</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0011.xml</td>
              <td class="desc">6017_JCQ_20-F11_MJ8.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">13 - 0</td>
              <td class="">1,25</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0012.xml</td>
              <td class="desc">6017_JCQ_22-F12_MJ5.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">20 - 0</td>
              <td class="">1,39</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0013.xml</td>
              <td class="desc">6017_JCQ_23-F13_MJ6.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">24 - 0</td>
              <td class="">1,47</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0014.xml</td>
              <td class="desc">6017_JCQ_24-F14_MJ9.html</td>
              <td class="">false</td>
              <td class="">false</td>
              <td class="">false</td>
              <td class="">107 - 0</td>
              <td class="">1,7,11,19,23,25,29,63,67,87,91,121,127,143,143,153,157,161,177,181,189,193,199,203,207,213,221,223,227,233,239,243,247,251</td>
              <td class="">143</td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0015.xml</td>
              <td class="desc">6017_JCQ_25-F15_MJ2.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">9 - 0</td>
              <td class="">1,17</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0016.xml</td>
              <td class="desc">6017_JCQ_26-F16_MJ8.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">13 - 0</td>
              <td class="">1,25</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0017.xml</td>
              <td class="desc">6017_JCQ_27-F17_MJ8.html</td>
              <td class="">false</td>
              <td class="">false</td>
              <td class="">false</td>
              <td class="">20 - 0</td>
              <td class="">1,5,41</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0018.xml</td>
              <td class="desc">6017_JCQ_28-F18_MJ9.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">10 - 0</td>
              <td class="">1,19</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0020.xml</td>
              <td class="desc">6017_JCQ_31-F20_MJ7.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">19 - 0</td>
              <td class="">1,37</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0021.xml</td>
              <td class="desc">6017_JCQ_33-F21.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">9 - 0</td>
              <td class="">1,17</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0022.xml</td>
              <td class="desc">6017_JCQ_34-F22_MJ2.html</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">9 - 0</td>
              <td class="">1,17</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0023.xml</td>
              <td class="desc">6017_JCQ_35-F23_MJ9.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">9 - 0</td>
              <td class="">1,17</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0024.xml</td>
              <td class="desc">6017_JCQ_36-F24_MJ9.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">16 - 0</td>
              <td class="">1,31</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0025.xml</td>
              <td class="desc">6017_JCQ_37-F25_MJ2.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class="">7 - 0</td>
              <td class="">1,5,15</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0026.xml</td>
              <td class="desc">6017_JCQ_38-F26_MJ6.html</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">13 - 0</td>
              <td class="">1,25</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0027.xml</td>
              <td class="desc">6017_JCQ_39-F27_MJ8.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">19 - 0</td>
              <td class="">1,37</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0028.xml</td>
              <td class="desc">6017_JCQ_40-F28_MJ2.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">8 - 0</td>
              <td class="">1,15</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0029.xml</td>
              <td class="desc">6017_JCQ_41-F29_MJ9.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">14 - 0</td>
              <td class="">1,27</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch0030.xml</td>
              <td class="desc">6017_JCQ_42-F30_MJ1.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">27 - 0</td>
              <td class="">1,53</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ch03.1.xml</td>
              <td class="desc">6017_JCQ_10-F03.1_MJ2.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class=""> - 0</td>
              <td class=""></td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-fmvol001.xml</td>
              <td class="desc">6017_JCQ_02-Page de titre et catalogage_MJ9.html</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class=""> - 0</td>
              <td class=""></td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-fmvol001ap.xml</td>
              <td class="desc">6017_JCQ_03-Avant-propos.html</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class="">1 - 0</td>
              <td class="">1</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-fmvol001bio.xml</td>
              <td class="desc">6017_JCQ_04-Notices biographiques_MJ9.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">7 - 0</td>
              <td class="">1,13</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-index.xml</td>
              <td class="desc">6017_JCQ_44-Index analytique_MJ8.html</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class="">8 - 0</td>
              <td class="">1,9,13,17</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ptoc01.xml</td>
              <td class="desc">6017_JCQ_06-TDMI_MJ2.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">3 - 0</td>
              <td class="">1,5</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ptoc01a.xml</td>
              <td class="desc">6017_JCQ_05-TDMG_MJ9.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">1 - 0</td>
              <td class="">1</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ptoc02.xml</td>
              <td class="desc">6017_JCQ_11-TDMII_MJ6.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class="">4 - 0</td>
              <td class="">1,3,7,9</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ptoc03.xml</td>
              <td class="desc">6017_JCQ_19-TDMIII_MJ2.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">1 - 0</td>
              <td class="">1</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ptoc04.xml</td>
              <td class="desc">6017_JCQ_21-TDMIV_MJ9.html</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">5 - 0</td>
              <td class="">1,9</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-ptoc05.xml</td>
              <td class="desc">6017_JCQ_32-TDMV_MJ4.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">2 - 0</td>
              <td class="">1,7</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-toclist.xml</td>
              <td class="desc">6017_JCQ_45-État de la publication_MJ9.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">1 - 0</td>
              <td class="">1</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">2</td>
              <td class="desc">06017-tos001.xml</td>
              <td class="desc">6017_JCQ_43-Index de la législation_MJ9.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">13 - 0</td>
              <td class="">1,25</td>
              <td class=""></td>
            </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
<!DOCTYPE html>
