
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Invoice </title>
    <link rel="stylesheet" href="./style.css" media="all" />
  </head>
  <body>
    <header class="clearfix">
      <div id="logo">
      </div>
      <div id="company">
        <h2 class="name">Technologie Vimmit</h2>
        <div>841, Rue Cardinal, St-Eustache, J7R 6N6</div>
        <div>+1 (438) 830-4556</div>
        <div><a href="mailto:info@vimmit.com">info@vimmit.com</a></div>
      </div>
      </div>
    </header>
    <main>
      <h1>Packages conversion report</h1>
        <table border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th class="desc">Package</th>
              <th class="desc">Collection Count</th>
              <th class="desc">Interchange %</th>
              <th class="desc">Neptune %</th>
              <th class="desc">Test Coverage %</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="desc">data/out/Package_1</td>
              <td class="desc">1</td>
              <td class="desc"></td>
              <td class="desc"></td>
              <td class="desc"></td>
            </tr>
          </tbody>
        </table>
          <table border="0" cellspacing="0" cellpadding="0">
            <thead>
              <tr>
                <th class="desc">Collection</th>
                <th class="desc">File</th>
                <th class="desc">MD5 Check</th>
                <th class="desc">Coverage</th>
                <th class="desc">Neptune</th>
                <th class="desc">Test Coverage %</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_01-Instructions_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_02-Page de titre et catalogage_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_03-Préface_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_04-Avant-propos_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_05-Notices biographiques_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_06-TDMG_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_07-TDMI_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_08-F01_MJ7</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_09-F02_MJ8</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_10-F03_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_11-F04_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_12-F05_MJ8</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_13-F06_MJ6</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_14-F07_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_15-F08_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_16-F09_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_17-F10_MJ1</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_17-F10_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_18-F11_MJ8</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_19-F12_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_20-F13_MJ7</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_21-F14_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_22-F15_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_23-F16_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_24-TDMII_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_25-F17_MJ7</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_26-F18_MJ7</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_27-F19_MJ6</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_28-F20_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_29-F21_MJ6</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_30-F22_MJ7</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_31-F23_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_32-F24_MJ5</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_33-F25_MJ7</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_34-F26_MJ7</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_35-Index de la législation_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_36-Index analytique_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
                <tr>
                  <td class="desc">Droit de l'environnement</td>
                  <td class="desc">6018_JCQ_37-État de la publication_MJ9</td>
                  <td class="desc">true</td>
                  <td class="desc">100%</td>
                  <td class="desc"></td>
                  <td class="desc"></td>
                </tr>
            </tbody>
          </table>
    </main>
    <main>
      <h1>Activities</h1>
      <ul>
          <li class=" strikeout ">Indd -> Interchange: End to end tool</li>
          <li class=" strikeout ">Indd -> Interchange: Report tool</li>
          <li class=" strikeout ">Indd -> Interchange: Left-Right Headers & Release-Number</li>
          <li class=" strikeout ">Indd -> Interchange: Page numbers</li>
          <li class="">Indd -> Interchange: Page numbers tests</li>
          <li class=" strikeout ">Indd -> Interchange: Treatise / Fascicles Parsing Package 1</li>
          <li class=" strikeout ">Indd -> Interchange: Treatise / Fascicles Parsing Package 2</li>
          <li class="">Indd -> Interchange: Treatise / Fascicles Parsing Package 3</li>
          <li class="">Indd -> Interchange: Treatise / Fascicles Parsing Package 4</li>
          <li class=" strikeout ">Indd -> Interchange: FrontMatter Parsing Package 1</li>
          <li class=" strikeout ">Indd -> Interchange: FrontMatter Parsing Package 2</li>
          <li class="">Indd -> Interchange: FrontMatter Parsing Package 3</li>
          <li class="">Indd -> Interchange: FrontMatter Parsing Package 4</li>
          <li class=" strikeout ">Indd -> Interchange: Detailed TOC Parsing Package 1</li>
          <li class=" strikeout ">Indd -> Interchange: Detailed TOC Parsing Package 2</li>
          <li class="">Indd -> Interchange: Detailed TOC Parsing Package 3</li>
          <li class="">Indd -> Interchange: Detailed TOC Parsing Package 4</li>
          <li class=" strikeout ">Indd -> Interchange: Table of Statutes Parsing Package 1</li>
          <li class=" strikeout ">Indd -> Interchange: Table of Statutes Parsing Package 2</li>
          <li class=" strikeout ">Indd -> Interchange: Table of Statutes Parsing Package 3</li>
          <li class=" strikeout ">Indd -> Interchange: Table of Statutes Parsing Package 4</li>
          <li class=" strikeout ">Indd -> Interchange: Index Parsing Package 1</li>
          <li class=" strikeout ">Indd -> Interchange: Index Parsing Package 2</li>
          <li class=" strikeout ">Indd -> Interchange: Index Parsing Package 3</li>
          <li class=" strikeout ">Indd -> Interchange: Index Parsing Package 4</li>
          <li class="">Indd -> Interchange: Parsing Blockquotes</li>
          <li class=" strikeout ">Interchange -> Neptune: Treatise / Fascicles</li>
          <li class=" strikeout ">Interchange -> Neptune: Treatise / Fascicles DTD Validation</li>
          <li class=" strikeout ">Interchange -> Neptune: Treatise / Fascicles tests</li>
          <li class="">Interchange -> Neptune: FrontMatter</li>
          <li class="">Interchange -> Neptune: FrontMatter -> TOC levels</li>
          <li class="">Interchange -> Neptune: FrontMatter DTD Validation</li>
          <li class="">Interchange -> Neptune: FrontMatter tests</li>
          <li class="">Interchange -> Neptune: Detailed TOC</li>
          <li class="">Interchange -> Neptune: Detailed TOC DTD Validatiom</li>
          <li class="">Interchange -> Neptune: Detailed TOC tests</li>
          <li class="">Interchange -> Neptune: Table of Statutes</li>
          <li class="">Interchange -> Neptune: Table of Statutes DTD Validation</li>
          <li class="">Interchange -> Neptune: Table of Statutes tests</li>
          <li class="">Interchange -> Neptune: Index</li>
          <li class="">Interchange -> Neptune: Index DTD Validation</li>
          <li class="">Interchange -> Neptune: Index tests</li>
          <li class="">Interchange -> Neptune: Input/Output comparison report</li>
      </ul>
    </main>
    <main>
      <h1>Validations / Manual fixes</h1>
      <ul>
          <li class="">5996_JCQ_08-F02_MJ13.indd: Invalid TOC Level : "1.	Travail subordonné " tagged as TM-A-<br/>Fix: Replace index level to TM-1-</li>
          <li class="">6018-F0*.indd: Footnote/First page - Position of Note de remerciements - Invalid Page Numbers<br/>Fix: Move the note to the last content of the page</li>
      </ul>
    </main>
    <!--<footer>
      Invoice was created on a computer and is valid without the signature and seal.
    </footer>-->
  </body>
</html>
<!DOCTYPE html>
