
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./style.css" media="all" />
  </head>
  <body>
    <header class="clearfix">
      <div id="logo">
      </div>
      <div id="company">
        <h2 class="name">Technologie Vimmit</h2>
        <div>841, Rue Cardinal, St-Eustache, J7R 6N6</div>
        <div>+1 (438) 830-4556</div>
        <div><a href="mailto:info@vimmit.com">info@vimmit.com</a></div>
      </div>
      </div>
    </header>
    <main>
      <h1>Packages conversion report</h1>
      <table border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th class="desc">Package</th>
            <th class="desc">FileName</th>
            <th class="desc">Source</th>
            <th>Integrity valid</th>
            <th>DTD valid</th>
            <th>Page Numbers valid</th>
            <th>Page count / splits </th>
            <th>Page sequences</th>
            <th>Page duplicated</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0001.xml</td>
              <td class="desc">6016_JCQ_07-F01_MJ5.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">23 - 0</td>
              <td class="">1,45</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0002.xml</td>
              <td class="desc">6016_JCQ_08-F02_MJ2.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">17 - 0</td>
              <td class="">1,33</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0003.xml</td>
              <td class="desc">6016_JCQ_09-F03_MJ8.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">17 - 0</td>
              <td class="">1,33</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0004.xml</td>
              <td class="desc">6016_JCQ_10-F04_MJ5.html</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class="">20 - 0</td>
              <td class="">1,39</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0005.xml</td>
              <td class="desc">6016_JCQ_11-F05_MJ7.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">15 - 0</td>
              <td class="">1,29</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0006.xml</td>
              <td class="desc">6016_JCQ_12-F06_MJ7.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">16 - 0</td>
              <td class="">1,31</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0007.xml</td>
              <td class="desc">6016_JCQ_13-F07_MJ6.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">9 - 0</td>
              <td class="">1,17</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0008.xml</td>
              <td class="desc">6016_JCQ_14-F08_MJ8.html</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class="">12 - 0</td>
              <td class="">1,23</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0009.xml</td>
              <td class="desc">6016_JCQ_15-F09_MJ7.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">14 - 0</td>
              <td class="">1,27</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0010.xml</td>
              <td class="desc">6016_JCQ_16-F10_MJ7.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class="">19 - 0</td>
              <td class="">1,5,39</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0011.xml</td>
              <td class="desc">6016_JCQ_17-F11_MJ7.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">16 - 0</td>
              <td class="">1,31</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0012.xml</td>
              <td class="desc">6016_JCQ_19-F12_MJ8.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">17 - 0</td>
              <td class="">1,33</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0013.xml</td>
              <td class="desc">6016_JCQ_20-F13_MJ8.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class="">12 - 0</td>
              <td class="">1,5,25</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0014.xml</td>
              <td class="desc">6016_JCQ_21-F14_MJ5.html</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class="">20 - 0</td>
              <td class="">1,39</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0015.xml</td>
              <td class="desc">6016_JCQ_22-F15_MJ7.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">13 - 0</td>
              <td class="">1,25</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0016.xml</td>
              <td class="desc">6016_JCQ_23-F16_MJ6.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">13 - 0</td>
              <td class="">1,25</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0017.xml</td>
              <td class="desc">6016_JCQ_24-F17_MJ7.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">9 - 0</td>
              <td class="">1,17</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0018.xml</td>
              <td class="desc">6016_JCQ_25-F18_MJ2.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">12 - 0</td>
              <td class="">1,23</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0019.xml</td>
              <td class="desc">6016_JCQ_26-F19_MJ2.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">8 - 0</td>
              <td class="">1,15</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0020.xml</td>
              <td class="desc">6016_JCQ_27-F20_MJ6.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">12 - 0</td>
              <td class="">1,23</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0021.xml</td>
              <td class="desc">6016_JCQ_28-F21_MJ2.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class="">8 - 0</td>
              <td class="">1,5,17</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0022.xml</td>
              <td class="desc">6016_JCQ_29-F22_MJ7.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">15 - 0</td>
              <td class="">1,29</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0023.xml</td>
              <td class="desc">6016_JCQ_30-F23_MJ7.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">15 - 0</td>
              <td class="">1,29</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0024.xml</td>
              <td class="desc">6016_JCQ_31-F24_MJ7.html</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class="">19 - 0</td>
              <td class="">1,37</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0025.xml</td>
              <td class="desc">6016_JCQ_32-F25_MJ7.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">13 - 0</td>
              <td class="">1,25</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0026.xml</td>
              <td class="desc">6016_JCQ_33-F26_MJ7.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">21 - 0</td>
              <td class="">1,41</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0027.xml</td>
              <td class="desc">6016_JCQ_34-F27_MJ8.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">7 - 0</td>
              <td class="">1,13</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0028.xml</td>
              <td class="desc">6016_JCQ_35-F28_MJ6.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">16 - 0</td>
              <td class="">1,31</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0029.xml</td>
              <td class="desc">6016_JCQ_36-F29_MJ6.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">17 - 0</td>
              <td class="">1,33</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0030.xml</td>
              <td class="desc">6016_JCQ_37-F30_MJ8.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">4 - 0</td>
              <td class="">1,7</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0031.xml</td>
              <td class="desc">6016_JCQ_38-F31_MJ5.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class="">17 - 0</td>
              <td class="">1,5,35</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0032.xml</td>
              <td class="desc">6016_JCQ_39-F32_MJ7.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class="">12 - 0</td>
              <td class="">1,5,25</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0033.xml</td>
              <td class="desc">6016_JCQ_40-F33_MJ3.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">7 - 0</td>
              <td class="">1,13</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0034.xml</td>
              <td class="desc">6016_JCQ_41-F34_MJ5.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">19 - 0</td>
              <td class="">1,37</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ch0035.xml</td>
              <td class="desc">6016_JCQ_42-F35_MJ6.html</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class="">20 - 0</td>
              <td class="">1,39</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-fmvol001.xml</td>
              <td class="desc">6016_JCQ_02-Page de titre et catalogage_MJ8.html</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class=""> - 0</td>
              <td class=""></td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-fmvol001bio.xml</td>
              <td class="desc">6016_JCQ_04-Notices biographiques_MJ8.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">5 - 0</td>
              <td class="">1,9</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-fmvol001pre.xml</td>
              <td class="desc">6016_JCQ_03-Préface.html</td>
              <td class=" strikeout ">true</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class="">1 - 0</td>
              <td class="">1</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-index.xml</td>
              <td class="desc">6016_JCQ_44-Index analytique_MJ8.html</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">10 - 0</td>
              <td class="">1,19</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ptoc01.xml</td>
              <td class="desc">6016_JCQ_06-TDMI_MJ8.html</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">1 - 0</td>
              <td class="">1</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ptoc01a.xml</td>
              <td class="desc">6016_JCQ_05-TDMG_MJ7.html</td>
              <td class="">false</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class="">1 - 0</td>
              <td class="">1</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-ptoc02.xml</td>
              <td class="desc">6016_JCQ_18-TDMII_MJ7.html</td>
              <td class="">false</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">1 - 0</td>
              <td class="">1</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-toclist.xml</td>
              <td class="desc">6016_JCQ_45-État de la publication_MJ8.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">1 - 0</td>
              <td class="">1</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class="">4</td>
              <td class="desc">06016-tos001.xml</td>
              <td class="desc">6016_JCQ_43-Index de la législation_MJ8.html</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class=" strikeout ">true</td>
              <td class="">22 - 0</td>
              <td class="">1,43</td>
              <td class=""></td>
            </tr>
            <tr>
              <td class=""></td>
              <td class="desc">undefined-chundefined.xml</td>
              <td class="desc"></td>
              <td class=""></td>
              <td class=""></td>
              <td class=""></td>
              <td class=""> - </td>
              <td class=""></td>
              <td class=""></td>
            </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
<!DOCTYPE html>
